<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_db</property>
    <property name="hibernate.connection.username">root</property>    
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.connection.pool_size">10</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="h01.entity.Customer"/>
    <mapping class="h01.entity.Product"/>
    <mapping class="h02.entity.Orders"/>
    <mapping class="h02.entity.LineItem"/>
    <mapping class="h03.entity.UserOne"/>
    <mapping class="h04.entity.Person"/>
    <mapping class="h04.entity.Address"/>
    <mapping class="h05.entity.UserTwo"/>
    <mapping class="h05.entity.Address"/>
    <mapping class="h06.entity.Animal"/>    
    <mapping class="h06.entity.AirAnimal"/>  
    <mapping class="h06.entity.LandAnimal"/>
<!--    <mapping class="h07.entity.Customer"/>
    <mapping class="h07.entity.Person"/>-->
    <mapping class="h07.entity.Address"/>
    <mapping class="h08.entity.H08_Customer"/>
    <mapping class="h08.entity.H08_Phone"/>
    <mapping class="h09.entity.H09_Order"/>
    <mapping class="h09.entity.H09_LineItem"/>
    <mapping class="h10.entity.Author"/>
    <mapping class="h10.entity.Bigrophy"/>
    <mapping class="h11.entity.H11_Mother"/>
    <mapping class="h11.entity.H11_Person"/>
  </session-factory>
</hibernate-configuration>
